@model IEnumerable<JournalWebAppplication.Models.Groups>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.PulpitName</h2>

<p>


</p>
<table class="table">
    <tr>
        <th>
            Група
        </th>
        <th>
            Спеціальність
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                @Html.ActionLink("Перейти", "Index", controllerName: "ConcreteGroup", routeValues: new { id = item.Id, groupId = item.Id }, htmlAttributes: null)
            </td>
        </tr>
    }

</table>
