@model JournalWebAppplication.Models.Hours

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Groups.GroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Groups.GroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KindOfOccupation.KindOfOccupation1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KindOfOccupation.KindOfOccupation1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subjects.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subjects.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
